<section class="left-menu">
</section>

<section class="interface" ng-controller="TimerCtrl as timer">
    <div class="banner">
        <a class="break-text">TAKE A BREAK</a>
        <a class="break-text">BREAK TIME</a>
        <a class="start-text">START WORK SESSION</a>
        <a class="start-text">WORK SESSION</a>
    </div>
    <div class="timer">
       {{ timer.countdown }}
    </div>
    <div class="intarface-buttons">
        <button class="button start-button" ng-click="timer.start(25)">START</button>
        <button class="button stop-button"  ng-click="timer.stop()" >STOP</button>
        <div class="break-buttons">
            <button class="button break-5"  ng-click="timer.start(5)" >5 MINS</button>
            <button class="button break-15" ng-click="timer.start(15)">15 MINS</button>
            <button class="button break-30" ng-click="timer.start(30)">30 MINS</button>
        </div>
    </div>
    <div class="footer">
        <small>Countdown ended at {{ time }}</small>
    </div>
</section>