<section class="left-menu" ng-controller="TaskCtrl as taskCtrl">
    <div class="to-do">
        
    </div>
    <div class="completed">
        <h4>Add Completed Task</h4>
        <input type="text" name="task" class="task-input" ng-model="taskCtrl.taskTitle" placeholder="Enter completed task">
        <button class="button task-button" ng-click="taskCtrl.addTask()">Add Task</button>
        <div class="task-list">
            <p ng-repeat="task in taskCtrl.tasks | orderBy: '-timestamp' ">
                <a class="task">{{ task.task }}</a> <br>
                <small class="task-date">added {{ task.addedAt }}</small>
            </p>
        </div>
    </div>
</section>


<section class="interface" ng-controller="TimerCtrl as timer">
  <small>Pomo-Time is in test mode, countdowns will be in 5 or 30 second intervals</small>
    <div class="timer">
       {{ timer.countdown.display | timecode }}
    </div>
    <div class="banner">
            <a class="start-text" ng-show="timer.countdown.state == 'startWork'" >
                START WORK SESSION</a>
            <a class="start-text" ng-show="timer.countdown.state == 'working'"   >
                WORK SESSION</a>
            <a class="break-text" ng-show="timer.countdown.state == 'startBreak'">
                TAKE A BREAK</a>
            <a class="break-text" ng-show="timer.countdown.state == 'break'"     >
                BREAK TIME</a>
    </div>
    <div class="intarface-buttons">
        <button class="button start-button" 
                ng-click="timer.countdown.start(5, 'working')" 
                ng-show="timer.countdown.state == 'startWork'">
                START</button>
        <button class="button stop-button"  
                ng-click="timer.countdown.stop()" 
                ng-show="timer.countdown.state == 'working' || timer.countdown.state == 'break'">
                STOP</button>
        <div class="break-buttons" 
             ng-show="timer.countdown.state == 'startBreak'">
            <button class="button break-5"  
                    ng-click="timer.countdown.start(5, 'break')">
                    5 MINS</button>
            <div class="longer-breaks-buttons" 
                 ng-show="timer.countdown.pomodoro == 4">
                <button class="button break-15" 
                        ng-click="timer.countdown.start(15, 'break')">
                        15 MINS</button>
                <button class="button break-30" 
                        ng-click="timer.countdown.start(30, 'break')">
                        30 MINS</button>
            </div>
        </div>
    </div>
    <div class="footer" ng-show="timer.countdown.display == 0">
        <small>Countdown ended at {{ timer.countdown.endTime }}</small>
    </div>
</section>